input[type=submit] 
{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

body {
	background-image: url("../images/train.jpg");		
	background-repeat: no-repeat;
    background-position: right top;
}

button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

b {
    color: red;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
}

h2 {
    text-align: center;
    color: red;
    font-size: 3vw;
}

i {
    background-color: green;
    color: white;
    font-size: 30px;
}

th {
    background-color: blue;
    color: white;
}

td {
    background-color: green;
    color: white;
}

th, td {
    padding: 5px;
    text-align: left;
}