body {
	background-image: url("../images/train.jpg");		
	background-repeat: no-repeat;
    background-position: right top;
}

h1 {
	text-align: center;
	color: white;
	font-size: 5vw;
}

form {
    display: block;
    margin-top: 0em;
}

input[type=submit] 
{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

b {
	color: red;
}