body {
	background-image: url("../images/train.jpg");		
	background-repeat: no-repeat;
    background-position: right top;
}

h1 {
	text-align: center;
	color: white;
	font-size: 5vw;
}

button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
